<section class="admin-dashboard-index">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="well">
    Total of <%= @total_count %> different products, distributed in <%= @categories_products.size %> categories.
  </div>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Category</th>
          <th>Products</th>
        </tr>
      </thead>
      <tbody>
        <% @categories_products.each {|category| %>
        <tr>
          <td>
            <%= link_to category[:name], category_path(category[:id]) %>
          </td>
          <td>
            <%= category[:number_of_products] %>
          </td>
        </tr>
        <%}%>
        <tr>
          <td>Total</td>
          <td> <%= @total_count %> </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="well">
    <%= link_to "Go to the main page", root_path %>
  </div>

</section>
